# junk folders for IDE's and extensions
.*DS_Store*
.vscode/
.trunk/
.idea/

# repository organization
code/.cache
code/build/
code/test/
local/
logs/
**/.venv

# files
scripts/**/*.pdf

# other
**/__pycache__