# organization
.DS_Store
.vscode
.idea
.trunk
local/
logs/

# latex
thesis/*.aux
thesis/*.bbl
thesis/*.bcf
thesis/*.blg
thesis/*.fdb_latexmk
thesis/*.fls
thesis/*.log
thesis/*.out
thesis/*.run.xml
thesis/*.synctex.gz
thesis/*.toc
thesis/*.xmpi
thesis/*.pdf

# code
code/build*
code/testing/*_jobs